.quick-item {
  display: flex;
  .pic{
    img{
      width: 4rem;
      height: 4rem;
      margin: 2rem 1.5rem 3rem 2rem;
    }
  }
  .content{
    margin-top: 2rem;
    padding-right: .5rem;
    flex: 1;
    font-size: 1rem;
    h2{
      margin: 0 0 1rem 0;
      font-size: 1.5rem;
      color: #333;
    }
    p{
      font-size: 1rem;
      color: #999;
    }
  }
}
