.navbar{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  overflow: hidden;
  .navbarconten{
    flex: 1;
  }
  & * {
    box-sizing: content-box !important;
  }
  :global {
    .am-search {
      background-color: transparent;
    }
  }
}
