.navbar{
  position: fixed;
  display: flex;
  flex-wrap:wrap;
  top: 0;
  width: 100%;
  background-color: #f5f5f9;
  z-index: 9999;
  overflow: hidden;
  .navbarconten{
    flex: 1;
  }
  .navbarright{
    // padding-right: 0.9rem; 
  }
  & * {
    box-sizing: content-box !important;
  }
  :global {
    .am-search {
      background-color: transparent;
    }
  }
}
